<html>
  <head>
    <title>{% block title %}Wuxia2Kindle{% endblock %}</title>
    <script src="https://unpkg.com/htmx.org@1.9.7"></script>
    <script src="https://unpkg.com/htmx.org@1.9.7/dist/ext/response-targets.js"></script>
    <!-- <script src="https://unpkg.com/htmx.org@1.9.7/dist/ext/json-enc.js"></script> -->
    <script src="https://cdn.tailwindcss.com"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="m-0 bg-gray-900 text-gray-200">
    {% block content %}{% endblock %}
  </body>
  <style>
    h1 {
      font-size: 3.75rem;
      line-height: 115%;
    }

    h2 {
      font-size: 3rem;
      line-height: 115%;
    }

    h3 {
      font-size: 1.75rem;
      line-height: 115%;
    }

    h4 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  </style>
  {% block scripts %}{% endblock %}
</html>
